/* ------ DISCOVER FOOTER SCROLL V2 ------ */

/* same bg color in all sections */
[id='S2083015778'].page,
a#main-page-bottom-1 + div,
[id='Q3072688951'].page {
  background-color: #050505 !important;
}

/* Fixed footer section */

[page-url='main-page-bottom-1'] {
  position: fixed;
  bottom: 0;
  z-index: -20;
}

[page-url='footer'] {
  position: fixed !important;
  bottom: 0 !important;
  z-index: -20 !important;
}

/* Footer opacity: show when scroll down */
:root {
  --footer-opacity: 0; /* default */
}

[page-url='main-page-bottom-1'] .page-layout,
[page-url='footer'] .page-layout {
  opacity: var(--footer-opacity, 0);
}

/* add white bg to other sections */
[page-url='main-page-1'] .page-content,
[page-url='top'] .backdrop.clip {
  background-color: white;
}

[page-url='main-page-2'] {
  pointer-events: none !important;
}

/* ------ END DISCOVER FOOTER SCROLL V2 ------ */
